{% extends 'admin1/dashboard.html' %}

{% block main_content %}
<h1>Movies</h1>
<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-md-6">
            <h3>Movies's List</h3>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary" onclick="reDir()">Add</button>
        </div>
    </div>
    <table class="table bg-secondary text-light">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Running time</th>
            <th scope="col">Genre</th>
            <th scope="col">Director</th>
            <th scope="col">Casts</th>
            <th scope="col">Trailer</th>
            <th scope="col">Poster</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for movie in movies %}
            <tr>
                <th scope="row">
                    <span>{{movie.id}}</span>
                </th>
                <td>
                    <span>{{movie.name}}</span>
                </td>
                
                <td>
                    <span>{{movie.runTime}}min</span>
                </td>
                <td>
                    <span>{{movie.get_genre_values}}</span>
                </td>
                <td>
                    <span>{{movie.director.name}}</span>
                </td>
                <td>
                    <span>{{movie.get_casts_values}}</span>
                </td>
                <td>
                    <iframe width="200" height="200" src="{{movie.trailer_url}}">
                    </iframe>
                </td>
                <td>
                    <img src="{{movie.poster_url}}" width="100px;" alt="">
                </td>
                <td>
                    <a href="{% url 'edit_movie' movie.id %}" class="text-warning">Edit</a>
                    |
                    <a href="{% url 'delete_movie' movie.id %}" class="text-danger">Delete</a>
                </td>            
            </tr>
          {% endfor %}
        </tbody>
    </table>

</div>
<script>
    function reDir(){
        window.location.href = "{% url 'add_movie' %}";
    }
</script>

{% endblock %}