{% extends 'admin1/dashboard.html' %}

{% block main_content %}
<h1>Theatres</h1>
<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-md-6">
            <h3>Theatre's List</h3>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary" onclick="reDir()">Add</button>
        </div>
    </div>
    <table class="table bg-secondary text-light">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">Cinema</th>
            <th scope="col">Running time</th>
            <th scope="col">Movie</th>
            <th scope="col">Status</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for i in theatres %}
            <tr>
                <th scope="row">
                    <span>{{i.id}}</span>
                </th>
                <td>
                    <span>{{i.name}}</span>
                </td>
                <td>
                    <span>{{i.location}}</span>
                </td>
                <td>
                    <span>{{i.cinema}}</span>
                </td>
                <td>
                    <span>{{i.show_start_time}}</span>
                </td>
                <td>
                    <span>{{i.movie}}</span>
                </td>
                <td>
                    <span>{{i.status}}</span>
                </td>
                <td>
                    <span>{{i.price}}</span>
                </td>
                <td>
                    <a href="" class="text-warning">Edit</a>
                    |
                    <a href="" class="text-danger">Delete</a>
                </td>            
            </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
<script>
    function reDir(){
        window.location.href = "{% url 'add_theatre' %}";
    }
</script>
{% endblock %}