{% extends 'index.html' %}

{% block content %}

  <style>

    #movie-card{
      border-radius: 10px;
    }

  </style>

    <div class="container my-4 p-3">
    {% for i in cinema %}
      <h3 class="text-capitalize">{{i.name}}</h3>
      <div class="row">
      {% for j in movie %}
         <div class="col-md-3">
           <div class="card" id="movie-card">
             <img src="{{j.poster_url}}" alt="" class="rounded">
             <div class="card-body">
             <div class="row">
               <div class="col-md-6">
                <div class="card-title text-capitalize">{{j.name}}</div>
               </div>
               <div class="col-md-6">
                <a class="btn btn-outline-success" href="{% url 'details' j.id %}" >View Details</a>
               </div>
             </div>
            </div>
           </div>
         </div>
        {% endfor %}
        
      </div> 

  {% endfor %}
</div>
{% endblock %}
