{% extends 'index.html' %}

{% block content %}

<style>
  #genre, #cast{
    background-color: #ccc;
    text-align: center;
    border-radius: 15px;
  }
</style>

<div class="col-md-8 m-auto my-4">
  <div class="movie-info-section">
    <div class="movie-poster">
      <iframe
        src="{{movie.trailer_url}}"
        width="500px" height="400px" class="rounded"
      ></iframe>

    </div>
    <div class="movie-infos">
      <div class="title text-capitalize">
        <h1>{{movie.name}}</h1>
      </div>

      <p>
        <strong>Genre:</strong>
        <div class="row">
          {% for g in genre %}
          <div id="genre" style="background-color: #32373D;" class="col-md-2 px-1 mx-1">
            {{g.name}}
          </div>
        {% endfor %}
        </div>
      </p>

      <p>
        <strong>Run time:</strong>
        {{movie.runTime}}min
      </p>
      <p class="text-capitalize">
        <strong>Director:</strong>
        {{movie.director.name}}
      </p>
      <p class="text-capltalize">
        <strong>Cast:</strong>
       {% for c in cast %}
        <p id="cast" class="col-md-3 px-1 mx-1 text-capitalize">{{c.name}}</p>
       {% endfor %}
      </p>

      <div class="movie-infos-actions">
        <a class="btn btn-success" href="{% url 'ticket_form' %}">Buy Ticket</a>
        <!-- <a href="" class="btn btn-danger">
          <div class="row">
            <div class="col-md-2">
              <i class="fas fa-play-circle fa-lg"></i>
            </div>
            <div class="col-md-10">
              Watch Trailer
            </div>
          </div>          
        </a> -->
      </div> 
    </div>
  </div>
</div>

{% endblock %}
