{% extends 'index.html' %}

{% block title %}
<title>
    Search
</title>
{% endblock %}

{% load static %}

{% block content %}
    <div class="search_form">
        <form action="" method="get">
            {% csrf_token %}
            <input type="text" name="query" id="query">
            <br>
            <input type="submit" value="Search">
        </form>
    </div>
    <div class="search_list">
        <div class="container">
    {% for obj in filter.qs %}
    <div class="row mb-3">
        <div class="col-md-2">
            <img src="{{obj.poster_url}}" class="img-responsive rounded" width="200px" height="150px" alt="">
        </div>
        <div class="col-md-10">
        <a href="{% url 'details' obj.id %}">
            <h3>{{obj.name}}</h3>
            </a>
        </div>
    </div>
    {% endfor %}

            
        </div>
    </div>
{% endblock %}