{% extends 'index.html' %}

{% block title %}
<title>
    Search
</title>
{% endblock %}

{% block content %}

    <div class="col-md-6 m-auto mt-4">
        <h1 class="text-dark text-capitalize">Search</h1>
        {% if movie_qs %}
        {% for movie in movie_qs %}
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{movie.poster_url}}" class="rounded w-100" alt="">
                    </div>
                    <div class="col-md-8">
                        <h3 class="text-capitalize my-3">{{movie.name}}</h3>
                        <h5 class="text-capitalize my-3"><strong>Genre : </strong>{{movie.get_genre_values}}</h5>
                        <h5 class="text-capitalize my-3"><strong>Casts : </strong>{{movie.get_casts_values}}</h5>
                        <h5 class="text-capitalize my-3"><strong>Director : </strong>{{movie.director.name}}</h5>
                        <a href="{% url 'details' j.id %"} class="btn btn-warning">View Details</a>
                    </div>
                </div>
        {% endfor %}
        {% else %}
        <h5>No data found</h5>
        {% endif %}
    </div>

{% endblock %}